body {
    background-color: #f4f4f9;
}
nav {
    background-color: rgb(24 90 188);
}
.sidebar {
    height: 100vh;
    position: sticky;
    top: 0;
    background-color: rgb(232,240,254);
}
.sidebar li {
    background-color: rgb(24 90 188) !important;
    padding: 10px 15px;
    margin: 5px;
    border-radius: 5px;
}
.sidebar a {
    text-decoration: none;
    color: #fff !important;
}
.section-bg {
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 2px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    padding: 20px;
}
.card-img-top {
    border-radius: 10px 10px 0 0;
}
footer {
    background-color: rgb(24 90 188);
    color: white;
}
